NetBeansProjects/UnitConversionClient/xml-resources/web-service-references/UnitConversion/wsdl/localhost_8080/UnitConversion/UnitConversion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.galuzin.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.galuzin.ru/" name="UnitConversion">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.galuzin.ru/" schemaLocation="http://localhost:8080/UnitConversion/UnitConversion?xsd=1"/>
</xsd:schema>
</types>
<message name="inchesToCentimeters">
<part name="parameters" element="tns:inchesToCentimeters"/>
</message>
<message name="inchesToCentimetersResponse">
<part name="parameters" element="tns:inchesToCentimetersResponse"/>
</message>
<message name="centimetersToInches">
<part name="parameters" element="tns:centimetersToInches"/>
</message>
<message name="centimetersToInchesResponse">
<part name="parameters" element="tns:centimetersToInchesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="UnitConversion">
<operation name="inchesToCentimeters">
<input wsam:Action="http://webservices.galuzin.ru/UnitConversion/inchesToCentimetersRequest" message="tns:inchesToCentimeters"/>
<output wsam:Action="http://webservices.galuzin.ru/UnitConversion/inchesToCentimetersResponse" message="tns:inchesToCentimetersResponse"/>
</operation>
<operation name="centimetersToInches">
<input wsam:Action="http://webservices.galuzin.ru/UnitConversion/centimetersToInchesRequest" message="tns:centimetersToInches"/>
<output wsam:Action="http://webservices.galuzin.ru/UnitConversion/centimetersToInchesResponse" message="tns:centimetersToInchesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices.galuzin.ru/UnitConversion/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices.galuzin.ru/UnitConversion/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="UnitConversionPortBinding" type="tns:UnitConversion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inchesToCentimeters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="centimetersToInches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UnitConversion">
<port name="UnitConversionPort" binding="tns:UnitConversionPortBinding">
<soap:address location="http://localhost:8080/UnitConversion/UnitConversion"/>
</port>
</service>
</definitions>